.modal-container {
    position: fixed;
    width: 100%;
    height: 100%;
    text-align: center;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

.modal-content {
    position: fixed;
    width: 90%;
    left: 5%;
    top: 12%;
    background-color: #F8F9FA;
    padding: 1rem 1rem 1rem 1rem;
    height: -moz-fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 15px 10px -12px rgba(73, 80, 87, 0.18);
    border-radius: 8px;
    box-sizing: border-box;
}

.modal-content>svg{
    position: absolute;
    right: 5%;
    font-size:2rem;
    color:#994D5B;
}

.modal-content>h3{
    font-family: 'Work Sans', sans-serif;
    font-size: 1.3rem;
    font-weight: 600;
    margin-top: 15%;
    color:#994D5B;
}

.modal-content>div>p{
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 1.375rem;
    color: #333333;
    text-align: left;
    margin-top: 0;
}

.modal-content>div>p>span{
    color:#994D5B;
}

.btn-container>div>a>button{
    border: 1px solid #994D5B;
    box-sizing: border-box;
    border-radius: 5px;
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 19px;
    text-align: center;
    color: #333333;
    width:100%;
    height: 46px;
    background-color: #fff;
}

.btn-container>div{
    padding: 2% 0;
}


@media (min-width:600px){

    .modal-content {
        width: 70%;
        left: 15%;
    }

    .modal-content>svg{
        right: 2%;
    }

    .modal-content>h3{
        margin-top: 5%;
        font-size: 1.5rem;
    }

    .modal-content>div>p{
        font-size: 1.2rem;
        line-height: 1.5rem;
        margin-left: 2%;
    }

    .modal-content>div{
        display: flex;
        align-items: center;
        padding-right: 2%;
    }

    .btn-container>div{
        width: 40%;
        margin-left: 5%;
    }

    .btn-container>div>a>button:hover{
        cursor: pointer;
        background-color: #994D5B;
        color: #fff;
    }
    
}
