.projects-section{
    padding: 0 5%;
}

.projects-section>h3{
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 1.375rem;
    text-align: center;
    text-decoration-line: underline;
    color: #994D5B;
}

.projects-container{
    width: 100%;
    padding-top: 5%;
    display: flex;
    justify-content: space-between;
}