.about-container{
    background-color: #f8f9fa;
    width: 100%;
    padding: 15%;
    box-sizing: border-box;
    clip-path: polygon(0% 0%, 100% 8%, 100% 100%, 0% 92%);
}

.about-container>h3{
    font-family: 'Happy Monkey', cursive;
    font-style: normal;
    font-weight: bold;
    letter-spacing: .05rem;
    font-size: 1.25rem;
    line-height: 1.375rem;
    text-align: center;
    color: #994D5B;
}

.about{
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

.photo-contact{
    display: none;
}

.about-info{
    padding: 0 10%;
}
.about-info>p{
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.125rem;
    color: #4A4747;
    }


@media (min-width:600px){
    .about-container>h3{
        font-size: 1.5rem;
    }

    .about-info{
        margin-left: 5%;
        width: 90%;
        padding: 0;
    }
    
    .about-info>p{
        font-family: 'Work Sans', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 1.125rem;
        line-height: 1.375rem;
        color: #4A4747;
    }

    .about{
        display: block;
    }

    .photo-contact{
        display: block;
        text-align: center;
    }

    .photo-contact>div{
        text-align: center;
    }

    .photo-contact>div>svg{
        font-size: 2rem;
        color: #4F4F4F;
        margin-left: 5%;
    }

    .photo-contact>div> a{
        font-family: 'Work Sans', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 1.125rem;
        line-height: 1.375rem;
        color: #4A4747;
        text-decoration: none;
        text-orientation: sideways-right;
    }

    .photo-contact>div>a>div{
        display: flex;
        align-items: center;
        justify-content: center;
        border: solid 1px #994D5B;
        width: 30%;
        margin: auto;
        border-radius: 5px;
        height: 40px;
        box-sizing: border-box;
    }

    .photo-contact>div>a>div>svg{
        margin-right: 2%;
    }

    .photo-contact>div>a>div:hover{
        background-color: #994D5B;
        color: #fff;
    }
}

@media (min-width:800px){

    .about{
        display: flex;
        align-items: center;
        box-sizing: border-box;
    }

    .about-container{
        padding: 5%;
    }
    
    .about-container>h3{
        font-size: 1.5rem;
    }
    .about-info{
        margin-left: 10%;
        width: 50%;
        padding: 0;
    }

    .photo-contact{
        display: block;
    }

    .photo-contact>img{
        width: 95%;
    }

    .photo-contact>div{
        text-align: center;
    }

    .photo-contact>div>svg{
        font-size: 2rem;
        color: #4F4F4F;
        margin-left: 5%;
    }

    .about-info>p{
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 1.375rem;
    color: #4A4747;
    }

    .photo-contact>div> a{
        font-family: 'Work Sans', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 1.125rem;
        line-height: 1.375rem;
        color: #4A4747;
        text-decoration: none;
        text-orientation: sideways-right;
    }

    .photo-contact>div>a>div{
        display: flex;
        align-items: center;
        justify-content: center;
        border: solid 1px #994D5B;
        width: 30%;
        margin: auto;
        border-radius: 5px;
        height: 40px;
        box-sizing: border-box;
    }

    .photo-contact>div>a>div>svg{
        margin-right: 2%;
    }

    .photo-contact>div>a>div:hover{
        background-color: #994D5B;
        color: #fff;
    }
}