.contact-container{
    width:90%;
    padding: 5%;
}

.contact-container>h3{
    font-family: 'Happy Monkey', cursive;
    font-style: normal;
    font-weight: bold;
    letter-spacing: .05rem;
    font-size: 1.25rem;
    text-align: center;
    color: #994D5B;
    text-align: center;
}

.contact-container>p{
    margin: auto 10%;
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.125rem;
    color: #4A4747;
}

.contact-container>div{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 8% auto;
}

.contact-container>div>button{
    border: none;
    background: none;
    color: #4a4747;
    font-size: 3rem;
    width: 15%;
    height: 3.5rem;
    margin: 0;
    padding: 0;
}


.contact-container>div> a svg{
    color:#4A4747;
    font-size: 3rem;
}

.email-options{
    display: flex;
    justify-content: center;
    align-items: center;
}

.email-options>a{
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.125rem;
    color: #4A4747;
    text-decoration: none;
}

#root > div:nth-child(4) > div > div.email-options > div > span{
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.125rem;
    color: #4A4747;
    text-decoration: none;
}

#root > div:nth-child(4) > div > div.email-options > div > span > div >svg{
    font-size: 3rem;
    margin: 0 auto;
}

.email-options>div{
    width:30%;
    text-align: center;
}

.email-options>a{
    width: 28%;
    text-align: center;
}

.contact-container>div>button:focus{
    outline: none;
}

@media (min-width:600px){

    .contact-container>h3{
        font-size: 1.5rem;
    }

    .contact-container>div>button{
        font-size: 3.5rem;
        width: auto;
    }

    .contact-container>div> a svg{
        font-size: 3.5rem;
    }

    .contact-container>p{
        font-size: 1.125rem;
        line-height: 1.375rem;
    }

    .contact-container>div>button:hover{
        color:#994D5B;
        cursor:pointer;
    }

    .contact-container>div> a svg:hover{
        color:#994D5B;
        cursor:pointer;
    }

    .email-options>div:hover{
        cursor: pointer;
    }

    .email-options>div>span > div >svg:hover{
        color:#994D5B;
    }

}